In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Load the needed datasets
df = pd.read_csv("sampleData.csv")
dfCip = pd.read_csv("STVMAJR.csv")

In [3]:
# Limit displayed rows (change if needed)
pd.options.display.max_rows = 80

## A. Basic Data

In [4]:
# Total number of students
# OPT is tallied elsewhere (from SEVIS at time of fall report)

len(df.index)

6

## B. Academic Level

In [5]:
# Class sizes

df['Class'].value_counts()

GR - Graduate Student    3
SO - Sophomore           1
SR - Senior              1
FR  - Freshman           1
Name: Class, dtype: int64

## C. New/Returning

In [6]:
# New/returning by level

df.groupby(['Level', 'New/Returning']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=0)

New/Returning  New
Level
Undergraduate    3
Graduate         3

## D. Enrollment Status

In [7]:
# Enrollment time by level

df.groupby(['Level', 'Current Time Status']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=0)

Current Time Status  Full-Time
Level
Undergraduate                3
Graduate                     3

## E. Visa Type

In [8]:
# Visa type by level

df.groupby(['Visa Type', 'Level']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=1)

Level      Undergraduate  Graduate
Visa Type
F1                     3         3

## F. Gender

In [9]:
# Gender by level

df.groupby(['Level', 'Gender']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=0)

Gender         Female  Male
Level
Undergraduate       2     1
Graduate            1     2

## G. Marital Status
  
We don't report this because it's not in our report.

## H. Primary source of funds
  
We dont report this either.

## I. Field of Study

In [10]:
# This extracts the 2nd through 5th character in the string, leaving us with the major code
# Don't run this more than once or it will keep cutting off the front character. Restart the kernel if you make any changes. 

df['majr'] = df['majr'].astype(str).str[1:5]
# df['majr'] # uncomment to check

In [11]:
# This joins the main table to the STVMAJR table and adds a column for their CIP codes. 

mergedDf = df.merge(dfCip, how ='left', on = 'majr')

In [12]:
# This is your list of cip codes grouped by level

mergedDf.groupby(['cip', 'Level']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=1)

Level     Undergraduate  Graduate
cip
220101.0              1         0
220201.0              2         3

## J. Place of Origin

In [13]:
# This is your list of citizenship grouped by level

mergedDf.groupby(['Nation of Citizenship', 'Level']).size().unstack(fill_value=0).reindex(['Undergraduate','Graduate'], axis=1)

Level                  Undergraduate  Graduate
Nation of Citizenship
Brazil                             0         1
Chile                              0         1
China                              1         0
Ethiopia                           1         0
Peru                               1         0
Spain                              0         1

## K. Fields of Study for Top 25 Places of Origin

In [14]:
# Here we create a df for each country listed and then concat them into a single frame.

bangladesh = mergedDf[mergedDf['Nation of Citizenship'] == 'Bangladesh']
brazil = mergedDf[mergedDf['Nation of Citizenship'] == 'Brazil']
canada = mergedDf[mergedDf['Nation of Citizenship'] == 'Canada']
china = mergedDf[mergedDf['Nation of Citizenship'] == 'China']
colombia = mergedDf[mergedDf['Nation of Citizenship'] == 'Colombia']
france = mergedDf[mergedDf['Nation of Citizenship'] == 'France']
germany = mergedDf[mergedDf['Nation of Citizenship'] == 'Germany']
india = mergedDf[mergedDf['Nation of Citizenship'] == 'India']
indonesia = mergedDf[mergedDf['Nation of Citizenship'] == 'Indonesia']
iran = mergedDf[mergedDf['Nation of Citizenship'] == 'Iran']
japan = mergedDf[mergedDf['Nation of Citizenship'] == 'Japan']
korea = mergedDf[mergedDf['Nation of Citizenship'] == 'Korea, Republic of']
kuwait = mergedDf[mergedDf['Nation of Citizenship'] == 'Kuwait']
malaysia = mergedDf[mergedDf['Nation of Citizenship'] == 'Malaysia']
mexico = mergedDf[mergedDf['Nation of Citizenship'] == 'Mexico']
nepal = mergedDf[mergedDf['Nation of Citizenship'] == 'Nepal']
nigeria = mergedDf[mergedDf['Nation of Citizenship'] == 'Nigeria']
pakistan = mergedDf[mergedDf['Nation of Citizenship'] == 'Pakistan']
saudi = mergedDf[mergedDf['Nation of Citizenship'] == 'Saudi Arabia']
spain = mergedDf[mergedDf['Nation of Citizenship'] == 'Spain']
taiwan = mergedDf[mergedDf['Nation of Citizenship'] == 'Taiwan, Republic of China']
turkey = mergedDf[mergedDf['Nation of Citizenship'] == 'Turkey']
uk = mergedDf[mergedDf['Nation of Citizenship'] == 'United Kingdom']
venezuela = mergedDf[mergedDf['Nation of Citizenship'] == 'Venezuela']
vietnam = mergedDf[mergedDf['Nation of Citizenship'] == 'Viet Nam']

dfTop25A = pd.concat([bangladesh, brazil, canada, china, colombia, france, germany, india, indonesia, iran, japan, korea])
dfTop25B = pd.concat([kuwait, malaysia, mexico, nepal, nigeria, pakistan, saudi, spain, taiwan, turkey, uk, venezuela, vietnam])

In [15]:
dfTop25A.groupby(['cip', 'Nation of Citizenship']).size().unstack(fill_value=0)

Nation of Citizenship  Brazil  China
cip
220201.0                    1      1

In [16]:
dfTop25B.groupby(['cip', 'Nation of Citizenship']).size().unstack(fill_value=0)

Nation of Citizenship  Spain
cip
220201.0                   1